{% extends "base.html" %}

{% block content %}
<h1 class="mt-4">Ingresar Propuesta</h1>
<form method="POST" enctype="multipart/form-data" action="/ingresar-propuesta">
    <div class="mb-3">
        <label for="propuesta" class="form-label">Propuesta (Por favor cargue un archivo en formato pdf)</label>
        <input type="file" class="form-control" id="propuesta" name="propuesta" accept=".pdf" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}