{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Perfil</h1>
<form method="post">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ details.nombre }}" required>
    </div>
    <div class="form-group">
        <label for="dni">DNI</label>
        <input type="text" class="form-control" id="dni" name="dni" value="{{ details.dni }}" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ details.email }}" required>
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <input type="text" class="form-control" id="role" name="role" value="{{ user.role }}" readonly>
    </div>
    {% if user.role == 'Estudiante' %}
        <div class="form-group">
            <label for="programa">Programa</label>
            <select class="form-control" id="programa" name="programa" required>
                <option value="{{ details.programa[id] }}">{{ details.programa }}</option>
            {% for programa in programas %}
                {% if details.programa != programa.programa %}
                    <option value="{{ programa.id }}">{{ programa.programa }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
    {% elif user.role == 'Evaluador' %}
        <div class="form-group">
            <label for="facultad">Facultad</label>
            <select class="form-control" id="facultad" name="facultad" required>
                <option value="{{ details.facultad[id] }}">{{ details.facultad }}</option>
            {% for facultad in facultades %}
                {% if details.facultad != facultad.facultad %}
                <option value="{{ facultad.id }}">{{ facultad.facultad }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
</form>
{% endblock %}
