{% extends "base.html" %}

{% block content %}
<h1 class="mt-4">Ver Propuestas</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Identificación</th>
            <th scope="col">Archivo</th>
        </tr>
    </thead>
    <tbody>
        {% for propuesta in propuestas %}
        <tr>
            <th scope="row">{{ propuesta[0] }}</th>
            <td>{{ propuesta[2] }}</td>
            <td>{{ propuesta[3] }}</td>
            <td>{{ propuesta[4] }}</td>
            <td>{{ propuesta[5] }}</td>
            <td>{{ propuesta[1].split('/')[-1] }}</td>
            <td><a href="{{ url_for('uploaded_purpose', filename=propuesta[1].split('/')[-1]) }}">Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}